<div fxLayout="column" fxLayoutGap="15px" class="mt-30">
  <div fxLyaout="row" fxLayoutGap="20px" fxLayoutAlign="center">
    <div>Search Policy with :</div>
    <div>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="searchType">
        <mat-radio-button value="p" class="mr-15">Policy ID</mat-radio-button>
        <mat-radio-button value="c">Customer ID</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div
    [style.height.px]="'75'"
    *ngIf="searchType == 'p'"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <mat-form-field>
      <mat-label>Policy ID</mat-label>
      <input type="number" matInput [(ngModel)]="policy_id" />
      <mat-icon
        matSuffix
        [ngClass]="{ 'ico-disabled': !policy_id }"
        class="cursor-pointer"
        (click)="getPolicyDetails()"
        >search</mat-icon
      >
    </mat-form-field>
  </div>
  <div
    *ngIf="searchType == 'c'"
    fxLayout="row"
    fxLayoutGap="15px"
    fxLayoutAlign="center"
    [style.height.px]="'75'"
  >
    <mat-form-field>
      <mat-label>Customer ID</mat-label>
      <input type="number" matInput [(ngModel)]="customer_id" />
      <mat-icon
        [ngClass]="{ 'ico-disabled': !customer_id }"
        matSuffix
        class="cursor-pointer"
        (click)="getPolicyList()"
        >search</mat-icon
      >
    </mat-form-field>
    <mat-form-field *ngIf="policy_id" appearance="fill">
      <mat-label>Policy ID</mat-label>
      <mat-select
        [(ngModel)]="policy_id"
        (selectionChange)="getPolicyDetails()"
      >
        <mat-option *ngFor="let policy of policyList" [value]="policy">{{
          policy
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <form [formGroup]="policyForm" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Date of Purchase</mat-label>
        <input matInput [value]="dateOfPurchase" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Customer ID</mat-label>
        <input matInput [value]="customer_id?customer_id:''" disabled />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Fuel</mat-label>
        <mat-select formControlName="fuel" [disabled]="!isEdit">
          <mat-option value="CNG">CNG</mat-option>
          <mat-option value="Petrol">Petrol</mat-option>
          <mat-option value="Diesel">Diesel</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Vehicle Segment</mat-label>
        <mat-select formControlName="vehicle_segment" [disabled]="!isEdit">
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [ngClass]="{'disabled':!isEdit}">
        <mat-label>Premium</mat-label>
        <input type = "number" matInput formControlName="premium" [disabled]="!isEdit" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Bodily Injury Liability</mat-label>
        <mat-select
          formControlName="bodily_injury_liability"
          [disabled]="!isEdit"
        >
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Personal Injury Protection</mat-label>
        <mat-select
          formControlName="personal_injury_protection"
          [disabled]="!isEdit"
        >
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Property Damage Liability</mat-label>
        <mat-select
          formControlName="property_damage_liability"
          [disabled]="!isEdit"
        >
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Collision</mat-label>
        <mat-select formControlName="collision" [disabled]="!isEdit">
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Comprehensive</mat-label>
        <mat-select formControlName="comprehensive" [disabled]="!isEdit">
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
      <mat-form-field appearance="fill">
        <mat-label>Customer Gender</mat-label>
        <mat-select formControlName="customer_gender" [disabled]="!isEdit">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Customer Income Group</mat-label>
        <mat-select
          formControlName="customer_income_group"
          [disabled]="!isEdit"
        >
          <mat-option value="0- $25K">0- $25K</mat-option>
          <mat-option value="$25-$70K">$25-$70K</mat-option>
          <mat-option value="$70K">>$70K</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Customer Region</mat-label>
        <mat-select formControlName="customer_region" [disabled]="!isEdit">
          <mat-option value="North">North</mat-option>
          <mat-option value="South">South</mat-option>
          <mat-option value="East">East</mat-option>
          <mat-option value="East">West</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Customer Martial Status</mat-label>
        <mat-select
          formControlName="customer_martial_status"
          [disabled]="!isEdit"
        >
          <mat-option [value]="1">Married</mat-option>
          <mat-option [value]="0">Unmarried</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
      <button mat-flat-button color="warn" (click)="toggleEdit()" [disabled]="!haveData">
        {{ isEdit ? "Cancel" : "Edit" }}
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="savePolicy()"
        [disabled]="!isEdit"
      >
        Save
      </button>
    </div>
  </form>
</div>
