/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
}

/* margins */
.mt-15 {
  margin-top:15px;
}
.mr-15 {
  margin-right: 15px;
}

/* others */
.mat-form-field-suffix {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ico-disabled{
  opacity: 0.4;
  pointer-events: none !important;
  cursor: default !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*snack-bar*/
.mat-snack-bar-container {
  color: rgb(252 249 249) !important;
  margin: 5vh !important;
}

.red-snackbar {
  background: #de0b0bd6 !important;
}

.green-snackbar {
  background: #1a902fd6 !important;
}